<section class="card" style="background-color: #008170">
    <div class="card-body">
        <h1 class="text-center">Acerca de mi</h1>
        <h4 class="text-end m-2 p-2">Hola, Bienvenidos a mi Lista de tareas y notas personales</h4>
        <p class="text-center m-2 p-2">Encantado, me llamo Kevin Bolaños y estoy desarrollando esta aplicación para que puedas crear, editar y eliminar tus tareas del día a día, también podras guardar tus notas personales o recordatorios de largo plazo</p>
    </div>
</section>

