<h3>Hola, Bienvenidos a mi Lista de tareas y notas personales</h3>

<p>Me llamo Kevin Bolaños y estoy desarrollando esta aplicación para crear, editar, eliminar tareas y crear notas personales del día a día</p>