<div class="jumbotron mt-4" style="background-color: #008170">
    <h1 class="display-4">App Lista De Tareas</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptas, adipisci veritatis fuga cum eveniet quod aliquam consequuntur excepturi nam?</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta hic illo eius porro doloribus exercitationem omnis blanditiis, consequatur animi facere.</p>
    <a href="#" class="btn btn-primary">GitHub</a>
</div>