<div class="list-group">
  <a href="/task/created" class="list-group-item list-group-item-action active" aria-current="true">Crear tarea</a>
  <a href="/task/completed" class="list-group-item list-group-item-action">Tareas completas</a>
  <a href="/task/incompleted" class="list-group-item list-group-item-action">Tareas incompletas</a>
  <a href="/task/actualization" class="list-group-item list-group-item-action">Actualizar tarea</a>
  <a href="/task/eliminated" class="list-group-item list-group-item-action">Eliminar tarea</a>
</div>